@import "./utils/variables";

@import "./pages/home";
@import "./pages/resto";

@import "./layouts/header";
@import "./layouts/footer";


@import "./components/btnviolet";


html, body{
    font-family: roboto;   
    height: 100%;
    font-size: 4vw;
    margin:0;
}


main{
    background-color:$FourthColor;
}