@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.restaurant {
  width: 90%;
  margin-bottom: 8%;
}
.restaurant a, .restaurant a:hover, .restaurant a:visited, .restaurant a:link, .restaurant a:active {
  text-decoration: none;
  color: black;
}
.restaurant figure {
  position: relative;
  width: 100%;
  height: 13rem;
  margin: 0;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0.5em 0.5em 0.5em 0 #EAEAEA;
}
.restaurant figure img {
  width: 100%;
  height: 8rem;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.restaurant figure .restaurant_new {
  background-color: #99E2D0;
  color: #008766;
  font-family: roboto;
  font-weight: bold;
  position: absolute;
  top: 7%;
  left: 71%;
  padding: 3.5%;
  border-radius: 5px;
}
.restaurant figure figcaption {
  padding: 1% 0 0 5%;
  margin: 0;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "titre coeur" "soustitre coeur";
  justify-items: start;
  align-items: center;
}
.restaurant figure figcaption h3 {
  margin: 0;
  padding: 0;
  grid-area: titre;
}
.restaurant figure figcaption p {
  grid-area: soustitre;
  margin: 0;
  padding: 0;
}
.restaurant figure figcaption .coeurstack {
  grid-area: coeur;
  justify-self: center;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .restaurant {
    margin-bottom: 4%;
    width: 44%;
    height: auto;
  }
  .restaurant figure {
    height: 20em;
  }
  .restaurant figure img {
    height: 16em;
  }
}
.coeurstack:hover .fas.fa-heart {
  z-index: 1;
  color: #9356DC;
  transform: scale(1);
}
.coeurstack .far.fa-heart {
  z-index: 2;
}
.coeurstack .fas.fa-heart {
  z-index: 1;
  color: transparent;
  /* transition:color 800ms; */
  transform: scale(0);
  transform-origin: 50% 1.2em;
  transition: transform 1000ms;
}

#home {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "homerecherche" "homeexplore" "homefonctionnement" "homerestaurants";
  gap: 0px 0px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) {
  #home {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "homerecherche homerecherche" "homeexplore homefonctionnement" "homerestaurants homerestaurants";
    font-size: 1.5em;
  }
}
#homerecherche {
  grid-area: homerecherche;
  width: 100%;
  margin: 0;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 0.3em inset #CFCFCF;
  background-color: #EAEAEA;
}
#homerecherche i {
  display: inline;
}
#homerecherche p {
  display: inline;
}

#homerecherche__ville {
  border: 0;
  margin: 0 0 0 1%;
}

#homeexplore {
  grid-area: homeexplore;
  text-align: center;
  background-color: #F6F6F6;
  font-family: Roboto;
  padding-top: 0.3rem;
  padding-bottom: 1.3rem;
}
#homeexplore h1 {
  font-size: 1.5em;
  padding: 0 15%;
}
#homeexplore p {
  font-size: 1.15em;
}

@media (min-width: 768px) {
  #homeexplore {
    padding-top: 0.15rem;
    padding-bottom: 0.5rem;
  }
}
#homefonctionnement {
  grid-area: homefonctionnement;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  background-color: white;
  font-size: 2.8vw;
}
#homefonctionnement h1 {
  align-self: start;
  padding-left: 20px;
}

.homefonctionnement__btn {
  display: grid;
  grid-template-areas: "number icone text";
  grid-template-rows: 100%;
  grid-template-columns: 1.2em 1em auto;
  justify-content: start;
  align-items: center;
  margin: 0 0 6% 0;
  width: 90%;
  height: 6.5em;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0.5em 0.5em 0.5em 0 #EAEAEA;
  background-color: #F6F6F6;
}
.homefonctionnement__btn .homefonctionnement__numero {
  transform: translateX(-45%);
  font-size: 1.2em;
  grid-area: number;
}
.homefonctionnement__btn .fa-circle {
  color: #9356DC;
  vertical-align: middle;
}
.homefonctionnement__btn .circle-text {
  color: white;
  grid-area: number;
}
.homefonctionnement__btn .icone_fonctionnement {
  grid-area: icone;
  font-size: 1.6em;
  justify-self: center;
  margin-left: 2.4em;
}
.homefonctionnement__btn p {
  grid-area: text;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-left: 2.4em;
}

@media (min-width: 768px) {
  #homefonctionnement {
    background-color: #F6F6F6;
    grid-area: homefonctionnement;
    font-size: 0.8vw;
    width: auto;
    padding: 0 10%;
  }
  #homefonctionnement h1 {
    font-size: 2.5em;
  }

  .homefonctionnement__btn {
    background-color: #EAEAEA;
  }
  .homefonctionnement__btn .homefonctionnement__numero {
    font-size: 1.4em;
  }
}
#homerestaurants {
  grid-area: homerestaurants;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F6F6F6;
}
#homerestaurants h1 {
  align-self: start;
  padding-left: 20px;
}

@media (min-width: 768px) {
  #homerestaurants {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
  }
  #homerestaurants h1 {
    margin: 1em 0 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 2.4em;
  }
}
.choix {
  display: grid;
  grid-template-areas: "titre  titre select" "soustitre prix select";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 12fr 1fr auto;
  grid-gap: 1%;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0.5em 0.5em 0.5em 0 #EAEAEA;
  margin-bottom: 5%;
  font-size: 4.2vw;
}
.choix:hover .selectplat {
  width: 130px;
}
.choix h4 {
  font-size: 1.1em;
  margin: 0 0 1% 0;
  padding: 4% 0 0 6%;
  grid-area: titre;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choix p {
  font-size: 0.9em;
  margin: 0;
  padding: 0 0 4% 6%;
  grid-area: soustitre;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choix strong {
  font-size: 1em;
  margin: 0;
  padding: 0 6% 4% 0;
  grid-area: prix;
  justify-self: end;
}

.selectplat {
  display: block;
  transition: width 700ms ease-out;
  color: white;
  width: 0;
  grid-area: select;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  background-color: #99E2D0;
  margin: auto auto;
  padding: 0.5em 0em;
  text-align: center;
}

@media (min-width: 768px) {
  .choix {
    font-size: 1.5vw;
  }
}
@media (min-width: 1024px) {
  .choix {
    font-size: 1.2vw;
  }
}
#menu {
  display: grid;
  grid-template-areas: "image" "titre" "entree" "plat" "dessert" "bouton";
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-content: center;
  width: 100%;
  margin: 0;
  font-size: 4vw;
}

@media (min-width: 768px) {
  #menu {
    grid-template-areas: "image image image" "titre titre titre" "entree plat dessert" "bouton bouton bouton";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 33% 33% 34%;
    font-size: 1.8vw;
  }
}
#header_resto {
  width: 100%;
  margin: 0;
  grid-area: image;
}

@media (min-width: 768px) {
  #header_resto {
    height: 30vw;
    object-fit: cover;
  }
}
#menu__titre {
  display: grid;
  grid-template-areas: "titre coeur";
  grid-template-rows: 100%;
  grid-template-columns: 6fr 1fr;
  transform: translateY(-60px);
  margin-bottom: -60px;
  border-radius: 12vw 12vw 0 0;
  background-color: #F6F6F6;
  align-items: center;
  font-size: 1em;
  padding: 6% 5% 0% 5%;
  grid-area: titre;
}
#menu__titre h1 {
  font-family: Shrikhand;
  grid-area: titre;
  font-size: 2.2em;
}
#menu__titre .coeurstack {
  font-size: 1.9em;
  grid-area: coeur;
}

@media (min-width: 768px) {
  #menu__titre {
    grid-template-areas: "titre coeur";
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    border-radius: 45px 45px 0 0;
  }
}
.Entre {
  grid-area: entree;
}

.Plat {
  grid-area: plat;
}

.Dessert {
  grid-area: dessert;
}

.Entree, .Plat, .Dessert {
  margin-bottom: 3em;
  font-size: 1em;
  padding: 0% 5% 1% 5%;
}
.Entree h3, .Plat h3, .Dessert h3 {
  padding-left: 2.5%;
  margin: 0;
}
.Entree .barreH, .Plat .barreH, .Dessert .barreH {
  height: 4vw;
  width: 3em;
  margin-top: 0.5em;
  margin-left: 2.5%;
  border-top: 4px solid #99E2D0;
}

@media (min-width: 768px) {
  .Entree, .Plat, .Dessert {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .Entree .barreH, .Plat .barreH, .Dessert .barreH {
    height: 1.5vw;
    width: 2em;
  }
}
.btn_conteneur {
  grid-area: bouton;
  margin-bottom: 3em;
}

#headeromf {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-areas: "fleche logo vide";
  grid-template-rows: 100%;
  grid-template-columns: 3fr 4fr 3fr;
  justify-content: start;
  align-items: center;
}
#headeromf .fa-arrow-left {
  grid-area: fleche;
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 0 20%;
}
#headeromf #header_logoomf {
  grid-area: logo;
  justify-self: center;
  margin: 0;
  width: 100%;
  padding: 1em 0;
}

@media (min-width: 768px) {
  #headeromf .fa-arrow-left {
    font-size: 3em;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 4% 6%;
}

#footer_menu {
  margin: 0;
  padding: 0;
}
#footer_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer_menu ul li {
  padding-bottom: 0.6em;
  text-decoration: none;
}
#footer_menu a, #footer_menu a:hover, #footer_menu a:visited, #footer_menu a:link, #footer_menu a:active {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  footer {
    padding: 1% 6%;
  }
}
.btn_gradient {
  background: linear-gradient(325deg, #9356DC 0%, #FF79DA 60%);
  border-radius: 45px;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  border: none;
  padding: 1.3rem 1.8rem;
  box-shadow: 0.25em 0.25em 0.25em 0 #EAEAEA;
}
.btn_gradient--center {
  display: flex;
  justify-content: center;
}
.btn_gradient--larger {
  padding: 1.3rem 3.5rem;
}
.btn_gradient:hover {
  box-shadow: 0.25em 0.25em 0.25em 0 #d1d1d1;
  background: linear-gradient(325deg, #9356DC 0%, #FF79DA 10%);
}

@media (min-width: 768px) {
  .btn_gradient {
    font-size: 2vw;
    padding: 0.5rem 0.9rem;
  }
}
.coeurstack:hover .fas.fa-heart {
  z-index: 1;
  color: #9356DC;
  transform: scale(1);
}
.coeurstack .far.fa-heart {
  z-index: 2;
}
.coeurstack .fas.fa-heart {
  z-index: 1;
  color: transparent;
  /* transition:color 800ms; */
  transform: scale(0);
  transform-origin: 50% 1.2em;
  transition: transform 1000ms;
}

html, body {
  font-family: roboto;
  height: 100%;
  font-size: 4vw;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 95vw;
    font-size: 1.2vw;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  body {
    width: 75vw;
    font-size: 0.8vw;
    margin: auto;
  }
}
main {
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
