.restaurant{
    width:100%;
    margin:0;
    border:1px solid orange;
        figure{
            width:100%;
            margin:0 1em;
            border:1px solid red;
            img{
                width:100%;
                border:1px solid purple;
            }
        }

    
}

