.btn_gradient{

    background: linear-gradient(335deg, $PrimaryColor 0%, $SecondaryColor  90%);
    
    
    border-radius: 45px;
    font-size:4vw;
    font-weight: bold;
    color:white;
    border:none;
    padding:1.3rem 1.8rem;
    box-shadow: 0.25em 0.25em 0.25em 0 $SixthColor;

    &--center{
        display:flex;
        justify-content:center;
    }
    &--larger{
        padding:1.3rem 3.5rem;
    }

    &:hover{
        box-shadow: 0.25em 0.25em 0.25em 0 darken($SixthColor,10%);
        opacity:0.8;
    }
    &:focus{
        outline:0;
    }

}

@media (min-width: 768px)
{
.btn_gradient{
    font-size: 2vw;
    padding:0.5rem 0.9rem;
}  
}