.btn_gradient{
    background-image:linear-gradient($SecondaryColor, $PrimaryColor);
    border-radius: 45px;
    font-size:4vw;
    font-weight: bold;
    color:white;
    border:none;
    padding:5% 4.5%;

    &--center{
        display:flex;
        justify-content:center;
    }
    &--larger{
        padding:5% 15%;
    }

}

