$delaiscale: 450ms;
$dureescale: 80ms;

$delaiwidth: 0s;
$dureewidth: 600ms;

.choix{

    display:grid;
    grid-template-areas: "titre  titre select"
                        "soustitre prix select";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 12fr 1fr auto;
    justify-content: start;
    align-items: center;
    background-color: white ;
    border-radius: 25px; // 5% / 20% ;
    @include button-shadow;
    margin-bottom: 5%;  
    padding-left: 0.7em;
    font-size: 4.2vw;

    h3{ //titre
        font-size: 1.1em;
        
        margin:0;
        padding:1em 0 0 0;
        grid-area: titre;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space:nowrap;
    }
    p{ //soustitre
        font-size: 0.9em;
        margin:0;
        padding:0 0 1em 0;
        grid-area: soustitre;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space:nowrap;
    }
    strong{ //prix
        font-size: 1em;
        margin:0;
        padding:0 0.7em 1em 0.3em;
        grid-area: prix;
        justify-self: end;
    }


    &:hover .selectplat{
        transform:scaleX(1);
        width:4em;
        transition: transform $dureescale, width $dureewidth;
        transition-delay: 0s,0s;
        transform-origin: 50% 50%;
    }

    .fa-check-circle{  
        font-size:2em;
        margin-top: 0.7em;  
        transform: rotate(-360deg);
        transition: transform 600ms ease;
        /* transform-origin: 1.15em 1.15em; */
    }

    &:hover .fa-check-circle{
        transform: rotate(0deg);
        transition: transform 600ms ease;
    }
}

.selectplat{
    color:white;   
    grid-area:select;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;    
    overflow: hidden; 
    box-sizing: border-box;
    background-color: $ThirdColor;

    
    text-align: center;
    width:0.2vw;
    height:100%;
    transform:scaleX(0);
    transition: transform $dureescale, width $dureewidth;
    transition-delay: $delaiscale,0s;
    transform-origin: 0% 50%;
}



@media (min-width: 768px)
{
    .choix{
        font-size: 1.5vw;

    }
}

@media (min-width: 1024px)
{
    .choix{
        font-size: 1.2vw;
    }
}