.choix{

    display:grid;
    grid-template-areas: "titre  titre"
                        "soustitre prix";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 12fr 1fr ;
    grid-gap:1%;
    justify-content: start;
    align-items: center;
    background-color: white ;
    border-radius: 5% / 20% ;
    box-shadow: 0.5em 0.5em 0.5em 0 $FifthColor;
    margin-bottom: 5%;
    padding: 4% ;

    font-size: 4.2vw;

    h4{
        font-size: 1.1em;
        margin:0 0 1% 0;
        padding:0;
        grid-area: titre;
    }
    p{
        font-size: 0.9em;
        margin:0;
        padding:0;
        grid-area: soustitre;
    }
    strong{
        font-size: 1em;
        margin:0;
        padding:0;
        grid-area: prix;
        justify-self: end;
    }
}


@media (min-width: 768px)
{
    .choix{
        font-size: 1.5vw;
        padding: 6% 4% ;

    }
}

@media (min-width: 1024px)
{
    .choix{
        font-size: 1.2vw;
        padding: 6% 4% ;

    }
}