.coeurstack{
    &:hover .fas.fa-heart{
        z-index: 1;
        color: $PrimaryColor;
        transform:scale(1);
    }

    .far.fa-heart{
        z-index: 2;
    }  

    .fas.fa-heart{
        z-index: 1;
        color: transparent;
        /* transition:color 800ms; */
        transform:scale(0);
        transform-origin: 50% 1.2em;
        transition: transform 1000ms; 
        
    }

    
}