.coeur{          
    background: linear-gradient($PrimaryColor, $SecondaryColor);
   
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    

    &:hover{
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        
    }
}

