.restaurant{
    width:90%;
    margin-bottom: 8%;

    a, a:hover, a:visited, a:link, a:active{
        text-decoration: none;            
        color:black;
    }

    figure{
        position:relative;
        width:100%;
        height:13rem;
        margin:0 ;
        background-color:white;
        border-radius:25px;
        box-shadow: 0.5em 0.5em 0.5em 0 $FifthColor;
        
        img{
            width:100%;
            height:8rem;
            border-radius:25px 25px 0 0;
            object-fit: cover;
        }
        .restaurant_new{
            background-color:aqua;
            color: rgb(45, 180, 140);
            font-family: roboto;
            font-weight: bold;
            position: absolute;
            top: 7%;
            left: 71%;
            padding:3.5%;
            border-radius: 5px;
        }
        figcaption{
            padding:1% 0 0 5%;
            margin:0;

            display: grid;
            grid-template-columns: 1.5fr 0.5fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;

            grid-template-areas:
            "titre coeur"
            "soustitre coeur";
            justify-items:start;
            align-items: center;
            h3{
                margin:0;
                padding:0;
                grid-area: titre;
            }
            p{
                grid-area: soustitre;
                margin:0;
                padding:0;
            }
            .coeurstack{
                grid-area: coeur;
                justify-self: center;
                font-size: 1.2em;
            }
        }
    }    
}

@media (min-width: 768px)
{
    .restaurant{
        margin-bottom: 4%;
        width:44%;
        height:auto;
        figure{
            height:20em;
            img{
                height:16em;
            }
        }
    }
}

.coeurstack{
    &:hover .fas.fa-heart{
        z-index: 1;
        color: $PrimaryColor;
        transform:scale(1);
    }

    .far.fa-heart{
        z-index: 2;
    }  

    .fas.fa-heart{
        z-index: 1;
        color: transparent;
        /* transition:color 800ms; */
        transform:scale(0);
        transform-origin: 50% 1.2em;
        transition: transform 1000ms; 
        
    }

    
}