.restaurant{
    width:90%;
    margin-bottom: 8%;

    a, a:hover, a:visited, a:link, a:active{
        text-decoration: none;            
        color:black;
    }

    figure{
        position:relative;
        width:100%;
        height:15rem;
        margin:0 ;
        background-color:white;
        border-radius:25px;
        @include button-shadow;
        
        img{
            display:block;
            width:100%;
            height:11rem;
            border-radius:25px 25px 0 0;
            object-fit: cover;

        }
        .restaurant_new{
            background-color: $ThirdColor;
            color: rgb(0, 135, 102);
            font-family: roboto;
            font-weight: bold;
            position: absolute;
            top: 7%;
            left: 71%;
            padding:3.5%;
            border-radius: 5px;
        }
        figcaption{
            padding:0 0 0 5%;
            margin:0;
            display: grid;
            grid-template-columns: 1.7fr 0.3fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            height: 4rem;


            grid-template-areas:
            "titre coeur"
            "soustitre coeur";
            justify-items:start;
            align-items: center;
            h2{
                margin:0;
                padding:0;
                grid-area: titre;
                font-size: 1.1em;
                align-self:end;

            }
            p{
                grid-area: soustitre;
                margin:0;
                padding:0;
                font-size: 0.9em;
                align-self:start;
                
            }
            .coeur{
                grid-area: coeur;
                
                align-self: center;
                font-size: 1.8em;
            
            }
        }
    }    
}

@media (min-width: 768px)
{
    .restaurant{
        margin-bottom: 4%;
        width:44%;
        height:auto;
        figure{
            height:20em;
            img{
                height:16em;
            }
            figcaption{
                height: 4em;
            }
        }
    }
}

