
html, body{
    font-family: roboto;   
    height: 100%;
    font-size: 4vw;
    margin:0;
}


@media (min-width: 768px) 
{
    body{
        width: 75vw;
        font-size: 0.8vw;
        margin:auto;

    }
}


main{
    background-color:$FourthColor;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}