
@import "../components/restaurant";




#home{
    display: flex;
    flex-direction:column;
    justify-content:center;
}

#homerecherche{
    width: 100%;
    margin:0;
    height:3em;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;



    background-color:$FifthColor;
    i{
        display:inline;
    }
    p{
        display:inline;
    }
}

#homerecherche__ville{    
    border:0;
    margin:0 0 0 1%;
}



#homeexplore{
    text-align:center;
    background-color:  $FourthColor;
    font-family: Roboto;
    padding-top: 5%;
    padding-bottom: 10%;

    h1{
        font-size: 1.6em;    
        padding:0 15%; 
    }
    p{
        font-size:1.2em;
    }
}



//################################
// FONCTIONNEMENT
//################################

#homefonctionnement{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:5%;
    padding-bottom:15%;
    background-color:  white;

    h1{
        align-self: start;
        padding-left: 20px;
        
    }
}


.homefonctionnement__btn{
    display:grid;
    grid-template-areas: "number icone text";
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 10fr;
    justify-content: start;
    align-items:center;
    margin:0 0 6% 0;
    width:90%;
    height:20vw;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0.5em 0.5em 0.5em 0 $FifthColor;
    background-color:$FourthColor;

    font-size: 1vw;


    .homefonctionnement__numero{
        transform: translateX(-45%);
        font-size:3.5em;

    
    }
    .fa-circle{
        color:$PrimaryColor;
        grid-area: number;
        vertical-align: middle;

       

    }
    .circle-text{
        color:white;
        grid-area: number;

    }
    .icone_fonctionnement{
        grid-area: icone;
        font-size: 5em;
        justify-self: center

     
    }

    p{
        grid-area: text;
        font-size: 5em;
        font-weight: bold;

        margin-left: 4vw;
    }
}






#home_restaurants{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:0;
    margin:0;
    background-color: $FourthColor;

    h1{
        align-self: start;
        padding-left: 20px;
    }
}


