#home_restaurants{
    border:1px solid green;
}


#restaurants{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    border:2px solid blue;
}

