@import "../components/choix";



#menu{
    display:grid;
    grid-template-areas: "image" "titre" "entree" "plat" "dessert" "bouton";
    grid-template-rows: auto;
    grid-template-columns:100%; 

    justify-content: center;
    
    width:100%;
    margin:0;
    font-size: 4vw;
} 


@media (min-width: 768px){
    #menu{
        grid-template-areas: "image image image" "titre titre titre"  "entree plat dessert"  "bouton bouton bouton";
        grid-template-rows: auto auto  auto auto;
        grid-template-columns:33% 33% 34%; 
        
        font-size: 1.8vw;
    }
}



#header_resto{
    width: 100%;
    margin:0;
    height:80vw;
    object-fit: cover;

    grid-area: image;
}

@media (min-width: 768px){
    #header_resto{

        height:25vw;
        object-fit: cover;
    }
}


#menu__titre{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-content: center;

    transform: translateY(-60px);
    margin-bottom:-60px; // pour compenser le décalage vers le haut de l'arrondi au dessus de l'image
    border-radius: 12vw 12vw 0 0;
    background-color:$FourthColor;

    align-items: center;
    font-size: 1em;
    padding:3% 8% 5% 8%;

    grid-area: titre;

    h1{
        font-family: Shrikhand;
        margin-right:1em;
        font-size: 1.8em;
    }

    .coeur{
        font-size: 1.9em;
        padding:0.05em;
    }
}

@media (min-width: 768px){
    #menu__titre{

        justify-content:center;
        padding:1% 5% 2% 5%;
       
        border-radius: 45px 45px 0 0; 
       

    }
}

$durationanim:800ms;

.Categorie{
    animation:slidehaut;
    animation-duration:$durationanim;
    animation-fill-mode: both;
}


.Entree{
    grid-area: entree;   
    animation-delay: 0s;
}

.Plat{
    grid-area: plat;    
    animation-delay: 800ms;
}

.Dessert{
    grid-area: dessert;   
    animation-delay: 1600ms;
}


.Entree, .Plat, .Dessert{
    margin-bottom: 3em;
    font-size: 1em;
    padding:0% 5% 1% 5%;
    

    h2{
        padding-left:2.5%;
        margin:0;
    }

    .barreH{
        height:4vw;
        width:3em;
        margin-top:0.5em;
        margin-left:2.5%;
        border-top: 4px solid $ThirdColor;
    }
}

@media (min-width: 768px){
    .Entree, .Plat, .Dessert{
        margin-top: 0;
        margin-bottom: 1em;

        .barreH{
            height:1.5vw;
            width:2em;
        }
    }

}

.btn_conteneur{
    grid-area:bouton;
    margin-bottom: 3em;
}


@keyframes slidehaut{
    0%{
        transform:translateY(50px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}