// FONT

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



// COLOR
$PrimaryColor:#9356DC;

$SecondaryColor:#FF79DA;

$ThirdColor:#99E2D0;

$FourthColor:  #F6F6F6;

$FifthColor: #353535; // footer

$SixthColor: #EAEAEA;

$SeventhColor : #979797; // ombres boutons



// Ombres des boutons
@mixin button-shadow {   box-shadow: 0.4em 0.4em 0.4em 0 $SeventhColor; }
