// FONT

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



// COLOR
$PrimaryColor:#9356DC;

$SecondaryColor:#FF79DA;

$ThirdColor:#99E2D0;

$FourthColor:  #cecece;

$FifthColor: #3f3f3f;
